
*
{
    box-sizing: border-box;
}

html{
    font-family: Roboto, sans-serif;
    height: 100%;
    width:100%;
}


body{
    
    margin:0px;
    background-color: rgb(232, 232, 232);
    border-radius: 0px;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    height: 100%;
    width:100%;
}

#root
{
    height: 100%;
    width:100%;
}

.app-root
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.top-nav-area
{

    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);*/
    border-radius: 2px;
    position: relative;
    width: 100%;
    padding-left: 0;
    z-index: 2;

        height: 10%;
    max-height: 54px;
}



.left-nav-area
{
    position: relative;
    background-color:rgb(43, 53, 65);
    /*background-color:white;*/
    width: 15%;
    height: 100%;
    float: left;
    min-width: 250px;
}


/*.left-nav-area>div>div:not(:first-child)>span :hover {
    color: white;
}*/

.content
{

    /*width:85%;*/
    float: left;
    height: 100%;
    position: relative;
    
}


.wgt-container
{
    /*box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;*/
}
.edit
{
    background-color: darkgray
}

.delete /*删除图表样式*/
{

}

.wgt-indicate-left
{
    
    width: 100px;
    height: 100%;
    float: left;
    
}


.wgt-indicate-right
{
    float:left;
    
    height: 100%;
    width:150px;
    
}

.test
{
    font-size: 20;
    text-align: center;
    width:100%;
    cursor: pointer

}


.dashboard-edit-menu-container {
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 4;
    width: 80px;
    height: 160px;
}

.dashboard-edit-menu-container .edit-menu {
    visibility: hidden;
}

.dashboard-edit-menu-container .button {
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 8px rgba(0,0,0,.28);
    border: 0;
    border-radius: 50%;
    transition: all .5s cubic-bezier(.08,1.08,.58,1.11);
    transform: scale(1);
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    opacity: 0;
    text-align: center;
}


.dashboard-edit-menu-container .add-widget-button {
    background-color: #689f38;
    color: #fff;
}

.dashboard-edit-menu-container .button-icon {
    transition: all .2s cubic-bezier(.4,0,.2,1);
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 13px);
    font-family: bowtie;
    font-size: 24px;
    color: #fff;
}

.bowtie-math-plus, .bowtie-status-success, .bowtie-math-plus-light, .bowtie-math-plus-heavy, .bowtie-status-run {
    color: #393;
}

.dashboard-edit-menu-container .menu-toggle-button {
    background-color: #007acc;
    z-index: 2;
    opacity: 1;
    color: #fff;
}


.dashboard-edit-menu-container .closed-icon {
    opacity: 1;
    transform: rotate(0);
}

.dashboard-edit-menu-container .open-icon {
    opacity: 0;
    transform: rotate(180deg);
}


.dashboard-edit-menu-container.menu-open .edit-menu{
    visibility:visible
}

.dashboard-edit-menu-container.menu-open .edit-menu .button
{opacity:1}
.dashboard-edit-menu-container.menu-open .add-widget-button
{bottom:90px}


.dashboard-edit-menu-container.menu-pinned-open .closed-icon
{opacity:0;transform:rotate(-180deg)}
.dashboard-edit-menu-container.menu-pinned-open .open-icon
{opacity:1;transform:rotate(0)}


.widget-edit-menu {
    margin: 6px;
    text-align: right;
    float: right;
    opacity: 1;
    transition: opacity 1s ease;
}


.widget-edit-menu-button-container:first-child {
    margin-left: 0;
}
.widget-edit-menu-button-container {
    display: inline-block;
    margin-left: 4px;
}

.widget-edit-overlay-control-show .widget-edit-menu-button {
    cursor: pointer;
}
.widget-edit-menu-button-container .widget-edit-menu-button {
    display: inline-block;
    background-color: #666;
    border-radius: 1px;
    border: 2px solid #666;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    height: 26px;
    width: 26px;
}


/*.bowtie-check {
    content: "\e977 ";
}
.bowtie-edit {
    content: "\e949 ";
}


.bowtie-check::before {
    content: "\e977 ";
}

.bowtie-edit::before {
    content: "\e949 ";
}*/